.timer-modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $timer-modal-background;
  z-index: 100;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    width: 95vw;
    height: 80vh;

    display: grid;
    grid-template-columns: 4fr 3fr;
    column-gap: 20%;
    padding: 20px;
    outline: none;
    border: 2px solid $primary;
    border-radius: 10px;

    background: $current-task-background;

    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;

      column-gap: 20px;
    }

    &__timer {
      display: flex;
      align-items: center;
    }
  }
}
