.cancel-button {
  background: rgb(126, 126, 133) !important;
  background: linear-gradient(270deg, #111111 0%, #121212 100%) !important;
}

.hBox {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.hBox > * + * {
  margin-left: 10px;
}