.current-task {
	display: flex;
	flex-direction: column;
}

.current-task__title {
	margin-bottom: 20px;
}

.current-task__content {
	width: calc(30vw - 32px);
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px 16px;

	background: $current-task-background;
	border: 3px solid rgba(gray, 0.1);
	border-radius: 20px;
}

.current-task__stub-timer {
	width: 100%;
	height: 100px;
	background: pink;
}
