.current-task-timer {
  padding: 20px 0px;

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__time-display {
    font-size: 3rem;
  }

  &__buttons {
    display: flex;
    flex: end;
  }

  &__icon-button-container {
    @extend .icon-button-container;
    margin: 0 0 0 16px;
  }
}
