.current-task-notes {
	@include accordion(
		$current-task-notes-content-height,
		$current-task-header-background,
		$current-task-content-background
	);

    &.light, &--expanded.light {
        .current-task-notes__header {
            background-color: $current-task-header-background-light;
        }

        .current-task-notes__content--expanded {
            background: $current-task-content-background-light;
        }
    }
}

.current-task-notes__list {
  padding-left: 50px;

  li {
    display: list-item;
  }
}

.save-task-notes-button-container {
  z-index: 1;
}

.current-task-notes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.current-task-notes-text-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.current-task-notes-text-area {
  overflow: auto;
  color: #ffffff;
  background: transparent;
  width: 100% !important;
  height: 100% !important;
  border: none;
  resize: none;
}

.save-cancel-button-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem 0rem;
}

.save-and-cancelbutton-text {
  @extend .button-text;
  margin: 0 5px;
}

.save-and-cancelbutton-container {
  @extend .button-container;
  margin: 5px 5px;
}

.save-and-cancel--disabledbutton-text {
  @extend .save-and-cancelbutton-text;
}

.save-and-cancel--disabledbutton-container {
  @extend .save-and-cancelbutton-container;
  opacity: 0.6;
}

.save-and-cancel--disabledbutton-container:hover {
  cursor: not-allowed;
}
