.current-task {
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: 20px;
	}

	&__content,
	&__empty {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px 16px;

		background: $current-task-background;
		border: 3px solid rgba(gray, 0.1);
		border-radius: 20px;
	}

	&__empty {
		font-size: 0.75rem;
		font-style: italic;
		justify-content: center;
		align-items: center;
	}

	&__info {
		height: 100%;
	}

	&__buttons {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 20px 0px;
	}

	&__button-container {
		@extend .button-container;
		background: linear-gradient(270deg, #13f287 0%, #52ed74 100%);
		width: calc(100% - 58px);
		margin: 0 10px 0 0;
		margin-top: 0px;

		&__button-text {
			@extend .button-text;
		}

		&__button-link {
			@extend .button-link;
		}
	}

	&__icon-button-container {
		@extend .icon-button-container;
		margin: 0;
	}
}
