.container {
    display: flex;
    flex-direction: column;
}

.heading {
    padding-bottom: 31px;
}

.big {
    width: calc(30vw - 32px);
	height: 90vh;
    background-color: #47465C;
    border-radius: 20px;
}

.small {
    width: calc(30vw - 32px);
	height: 50%;
    background-color: #47465C;
    border-radius: 20px;
}