.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal-content {
  width: 80vw;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px groove blueviolet;
  gap: 120px;
}

.button-play {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: indianred;
  background-image: linear-gradient(to right, #d89a64, #f1913e);
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active.button-play {
  background-image: linear-gradient(to right, #f1913e, red);
}

.current-task {
  margin: 10px;
  background-color: navy
}

.timerTitle {
  font-size: 24px;
  font-style: normal;
}

.timer {
  padding-top: 14px;
  font-size: 76px;
  font-weight: 1000;
}

.button-align {
  margin-top: 36px;
  display: inline-flex;
  position: relative;
  justify-content: space-between;
  gap: 12px;
}

button:active.button-resize {
  background-image: linear-gradient(to right, #1560f2, blue);
}

.current-task-notes-container{
  position: relative; 
  height: 500px;
  width: 650px;
 
}

.task-notes-title{
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 1px rgb(15, 30, 51) ;
  top: 0;
  background-color: rgb(39, 53, 82);
}



.current-task-modal {
  border-radius: 20px;
  box-shadow: 0 2px 1px rgb(15, 30, 51) ;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  margin: 10px;
  background-color: rgb(39, 78, 131);
  display: block;
}

.notes-modal {
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 2px 1px rgb(15, 30, 51) ;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  margin: 10px;
  display: block;
  background-color: rgb(39, 78, 131);
}


.detail-container-modal{
  position: absolute;
  top: 90%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.due-detail{
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  background-color: rgb(118, 55, 157);
}

.category-detail{
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  background-color: rgb(19, 66, 117);
}



.priority-detail{
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  background-color: rgb(144, 87, 72);
}
  
  



 


