.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 5%;
  padding: 50px;
  width: 100%;

  &__stats-goals-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
