@import "variables.scss";
@import "app.scss";
@import "mixins.scss";
@import "./components/global/button.scss";
@import "./components/global/iconButton.scss";
@import "./components/global/task/task.scss";
@import "./components/global/task/subtask.scss";
@import "./components/global/textInput.scss";
@import "./signupView.scss";
@import "./loginView.scss";

@import "./home.scss";
@import "./components/current-task/currentTask.scss";
@import "./components/current-task/currentTaskNotes.scss";
@import "./components/current-task/timerConfig.scss";

@import "./assets/right-chevron.scss";
@import "./components/navbar.scss";

@import "./components/timer-modal/timerModal.scss";
@import "./components/timer-modal/timerSection.scss";
