@import 'variables.scss';
@import 'App.scss';
@import 'mixins.scss';
@import './components/global/button.scss';
@import './components/global/iconButton.scss';
@import './components/global/task/task.scss';
@import './components/global/task/subtask.scss';
@import './components/global/textInput.scss';

@import './components/current-task/currentTask.scss';
@import './components/current-task/currentTaskNotes.scss';

@import './assets/right-chevron.scss';
@import './components/navbar.scss';

@import './components/TimerModal/Modal.scss';
