.login_layout {
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

.welcome {
    font-size: 4vw;
    padding-bottom: 1.5vw;
}

.login_form {
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: white;
}

a {
    color: grey;
}

.login_input {
    display: block;
    width: 25vw;
    height: auto;
    border-radius: 999px;
    border: none;
    outline: none;
    color: white;
    background-color: #282828;
    padding: 15px;
}