.login {
  text-align: left;
  margin: 5% 10%;
  width: 100%;

  &__welcome {
    font-size: 4em;
    padding-bottom: 1.5vw;
  }

  &__bottom-text {
    color: $grey-text;

    &__link {
        padding-left: 5px;
        color: $primary;
    }
  }

  .email-container,
  .password-container {
    display: block;
    height: auto;
    color: white;
    font-size: 1.25em;
    padding-top: 1vw;
    padding-bottom: 1vw;
    max-width: 500px;
    width: 100%;
  }

  &__background {
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    height: calc(min(80vh, 40vw));
    width: calc(min(80vh, 40vw));
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
}
