.sign-up {
    &__root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin: 10px;
    }

    &__container {
        text-align: left;
        max-width: 600px;
        width: 50%;
        margin: 0 2vw;

        @media (max-width: 600px) {
            width: 100%;
        }

        h1 {
            font-size: 4em;
            margin-bottom: 30px;
        }

        .button-text {
            font-size: 0.8em;
        }
    }

    &__bottom-text {
        color: $grey-text;

        &__link {
            padding-left: 5px;
            color: $primary;
        }
    }

    &__bg {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 5px;
        height: calc(min(80vh, 40vw));
        width: calc(min(80vh, 40vw));
        
        @media (max-width: 600px) {
            opacity: 0.5;
            left: 100%;
            transform: translateX(-100%);
        }

        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}