.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.button-play {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-color: indianred;
  background-image: linear-gradient(to right, #d89a64, #f1913e);
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active.button-play {
  background-image: linear-gradient(to right, #f1913e, red);
}

.current-task {
  margin: 10px;
  background-color: navy
}
