.icon-button-container {
  height: 3rem;
  width: 3rem;
  background: rgb(19, 94, 242);
  background: linear-gradient(270deg, $primary 0%, $primary-gradient 100%);
  border-radius: 50%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button-container:hover {
  cursor: pointer;
}
