.modalContainerBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  outline: none;
  border: none;
}


.modalContainer {
  width: 50%;
  height: auto;
  // TODO Use variable $background
  background: linear-gradient(225deg, #2e2d40 0%, #3c3a61 100%);
  padding: 30px;
  border-radius: 10px;
}