.task-container, .task-container--expanded {
  position: relative;
  width: 100%;  
}

.task-container {
  height: $task-header-height;
}

.task-container--expanded {
  height: $task-header-height + $task-details-height;
}

.task-header-container, .task-details-container, .task-details-container--expanded {
  width: 100%;
  
  padding-bottom: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.task-header-container {
  display: grid;
  grid-template-columns: 35px 1fr 40px;
  column-gap: 16px;

  align-items: center;
  padding: 0 20px;
  height: $task-header-height;

  background: $task-header-background;
}

.task-checkbox,
.task-checkbox--checked {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 5px solid white;
  border-radius: 999px;

  box-sizing: border-box;
  box-shadow: 0px 0px 6px 1px rgba(255, 236, 236, 0.25);
}

.task-checkbox--checked {
  background: #c4c4c4;
}

.task-title,
.task-title--checked {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.task-title--checked {
  text-decoration: line-through;
  font-style: italic;
}

.task-details-container, .task-details-container--expanded {
  position: absolute;
  top: 0;
  left: 0;
  height: $task-details-height;
  z-index: -1;
  padding-top: $task-header-height;
}

.task-details-container--expanded {
  background: $task-details-background;
}
