.goal {
  height: 54px;
  margin-bottom: 16px;

  &__header,
  &__header--selected {
    display: flex;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    padding: 0 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__header {
    background-color: $goal-header-background;

    &--selected {
      background-color: $primary-selected-light;
    }
  }

  &.light {
    .goal__header {
      background-color: $goal-header-background-light;

      &--selected {
        background-color: $primary-selected-light;
      }
    }
  }

  &__checkbox,
  &__checkbox--checked {
    width: 25px;
    height: 25px;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    outline: none;
    margin-right: 16px;

    box-shadow: 0px 0px 6px 1px rgba(255, 236, 236, 0.25);
  }

  &__checkbox--checked {
    background: $goal-checkbox-color;
  }

  &__title--checked {
    text-decoration: line-through;
    font-style: italic;
  }
}
