.new-goal {
  &__container {
    &__footer {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      .icon-button-container {
        background: $grey-button-bg;
      }

      &__button {
        margin-left: 20px;
      }
    }

    &__error-message {
      color: $error-color;
      text-align: center;
    }
  }
}
